Host *
    Port 22
    IdentitiesOnly yes
    IdentityFile "id_pemdemo"
    UserKnownHostsFile known_hosts tpa_known_hosts
    ServerAliveInterval 60

Host pg1
    User root
    HostName 172.17.0.2
Host pemserver
    User root
    HostName 172.17.0.3
